/*************mask*************************/
.masking{ color:#000000; left:0; opacity:0.2; position:absolute; top:0;_filter:alpha(opacity=20); }
/*button*/

/***************arrowbox*******************/
.arrowbox{position:absolute; top:100px; left:100px; line-height:20px; text-align: left;clear:both;float:none;zoom:1;_border: 4px solid #ddd}
.arrowbox .interactive-wrapper{padding:1px;background:#FFFFFF;border:1px solid #AAAAAA;}
.arrowbox .jquery-interactive-wrapper{border:medium null;}
.arrowbox .jquery-interactive-wrapper td{border:medium null;}
.arrowbox .jquery-interactive-wrapper .wrapperTL{
	width:4px;height:4px;word-spacing:-5px;
	background:url(wrapperTL.png) no-repeat 0 0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=crop , src="css/interactive/wrapperTL.png" );
	_background:transparent none;
}
.arrowbox .jquery-interactive-wrapper .wrapperTR{
	width:4px;height:4px;word-spacing:-5px;
	background:url(wrapperTR.png) no-repeat 0 0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=crop , src="css/interactive/wrapperTR.png" );
	_background:transparent none;
}
.arrowbox .jquery-interactive-wrapper .wrapperBL{
	width:4px;height:4px;word-spacing:-5px;
	background:url(wrapperBL.png) no-repeat 0 0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=crop , src="css/interactive/wrapperBL.png" );
	_background:transparent none;
}
.arrowbox .jquery-interactive-wrapper .wrapperBR{
	width:4px;height:4px;word-spacing:-5px;
	background:url(wrapperBR.png) no-repeat 0 0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=crop , src="css/interactive/wrapperBR.png" );
	_background:transparent none;
}
.arrowbox .jquery-interactive-wrapper .wrapperTC,.arrowbox .jquery-interactive-wrapper .wrapperML,.arrowbox .jquery-interactive-wrapper .wrapperMR,.arrowbox .jquery-interactive-wrapper .wrapperBC{
	width:4px;height:4px;word-spacing:-5px;
	background:url(wrapperC.png) repeat 0 0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=scale , src="css/interactive/wrapperC.png" );
	_background:transparent none;
}
.arrowbox .interactive-arrow{display:block;background-image: url(arrow.gif);background-repeat: no-repeat;position:absolute;text-indent:-99px;overflow:hidden;z-index:10}
.arrowbox .interactive-arrow-up{background-position:-15px 0; width:15px;height:8px;bottom:-3px;_bottom:-7px}
.arrowbox .interactive-arrow-down{background-position:-15px -7px; width:15px;height:8px;top:-3px;_top:-7px}
.arrowbox .interactive-arrow-left{background-position:0 0; width:8px;height:15px;right:-3px;_right:-7px}
.arrowbox .interactive-arrow-right{background-position:-7px 0; width:6px;height:12px;left:-1px;_left:-5px} 
.arrowbox .interactive-title{padding:1px 10px;color:#333333;background:url(titleBG.gif) repeat 0 0;}
.arrowbox .interactive-title h2{font-weight: bold;line-height:22px; width:144px;height:24px;}
.arrowbox .interactive-title .interactive-closed{ position:absolute; right:13px; top:13px;z-index:9}
.arrowbox .interactive-title .interactive-closed a{ text-decoration:none;}
.arrowbox .interactive-title .interactive-closed .close_gray{ position:static}
.arrowbox .interactive-main{position:relative;min-width:120px;background:#fff;word-wrap: break-word;}
.arrowbox .interactive-main:after{ content:"."; clear:both; display:block; height:0;  visibility:hidden}
.arrowbox .interactive-main .interactive-content{padding:10px;}
.arrowbox .interactive-main .interactive-error{ margin:10px 10px -10px; padding:5px 20px 5px 5px; color:#c33;background:#FFE3DF;border:1px solid #F77677;display:none;z-index:2}
.arrowbox .interactive-main .interactive-error a{ position:absolute;right:15px;color:#333}

.arrowbox .interactive-bottom{ padding:0 10px 10px;text-align:right;min-width:164px;_width:164px;_overflow:visible}
.arrowbox .interactive-bottom button{padding:0; *margin: 0 5px;}
.arrowbox .interactive-bottom .interactive-loading{display:inline-block; height:16px; width:16px; padding-right:5px; font-size:0;*line-height:0px; *overflow:hidden;background: url(ajax_loader_min.gif) no-repeat;visibility:hidden; position:absolute;left:10px;bottom:14px}

#jquery-interactive-errormsg.arrowbox{background-color:#FFDDDD;
border:1px solid #EFBBBB;
color:#C66565;line-height:22px;}
#jquery-interactive-errormsg.arrowbox .interactive-main{padding:0 0.5em;min-width:4em;_width:auto;}
#jquery-interactive-errormsg.arrowbox .interactive-arrow{display:none}
#jquery-interactive-errormsg.arrowbox .interactive-wrapper{padding:0;background:transparent none;border:medium none;}
#jquery-interactive-errormsg.arrowbox .interactive-main .interactive-content{padding:0;}

#jquery-interactive-successmsg.arrowbox{background-color:#FCFFF4;
border:1px solid #CDD9AE;
color:#91B091;line-height:22px;}
#jquery-interactive-successmsg.arrowbox .interactive-main{padding:0 0.5em;min-width:4em;_width:auto;}
#jquery-interactive-successmsg.arrowbox .interactive-arrow{display:none}
#jquery-interactive-successmsg.arrowbox .interactive-wrapper{padding:0;background:transparent none;border:medium none;}
#jquery-interactive-successmsg.arrowbox .interactive-main .interactive-content{padding:0;}

